<ion-content class="ion-padding" style="--background: antiquewhite">
  <ion-card>
    <ion-card-header style="text-align: center;">
      <ion-card-title>Recuperar Contraseña</ion-card-title>
      <ion-card-subtitle>Por favor ingrese su email</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input type="text" [(ngModel)]='email'></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button class="btn" expand="block" shape="round" fill="outline" (click)="resetPassword()">Cambiar Contraseña</ion-button>
</ion-content>
