<ion-header>
  <ion-toolbar>
    <ion-title>VENTAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let sale of sales">
    <ion-card-header>
      <ion-card-title color="black">Total: {{ sale.total }} Bs.</ion-card-title>
      <ion-card-subtitle color="black">Comprador: {{ sale.usuario }}</ion-card-subtitle>
      <ion-card-subtitle color="black">NIT: {{ sale.nit }}</ion-card-subtitle>
      <ion-card-subtitle color="black">Telefono: {{ sale.nit }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngFor="let product of sale.productos">
      {{ product.nombre }} {{ product.precio }} Bs.
    </ion-card-content>
  </ion-card>
</ion-content>
