.buttons{
    background-color: #78751f;
    color: white;
}

.buttons2{
    background-color: #a67305;
    color: white;
}

.buttons3{
    background-color: #ac9614;
    color: white;
}

/*
#78751f green
#a67305 orange
#ac9614 yellow
*/
