.buttons{
    // --background: antiquewhite;
    color: #FF8C00;
}
.buttons2{
    // --background: antiquewhite;
    color: #FF8C00;
}

.buttons3{
    // --background: antiquewhite;
    color: #FF8C00;
}
