<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        CARRITO
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" *ngIf="this.cart.size > 0" color="warning">
    <ion-card *ngFor="let product of getKeys(cart)">
      <ion-item>
        <ion-button (click)="lessProductCart(product)">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
        {{ cart.get(product) }}
        <ion-button (click)="moreProductCart(product)">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
        {{ product.nombre }}
      </ion-item>
      <ion-card-header>
        {{ product.precio * cart.get(product) }}
      </ion-card-header>
      <ion-button color="success">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-card>
    <ion-card-header>
      {{ total }}
    </ion-card-header>
    <ion-card-header>
      <ion-button *ngIf="this.cart.size > 0" color="success">
        <ion-icon name="card-outline"></ion-icon>
          COMPRAR
      </ion-button>
    </ion-card-header>
  </ion-content>
  <ion-content [fullscreen]="true" *ngIf="this.cart.size == 0">
    PARECE QUE NO ELEGISTE NADA
  </ion-content>
</ion-app>




