<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="titles">
        CARRITO
      </ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-content [fullscreen]="true" *ngIf="this.cart.size > 0" class="tab2pg">
        <ion-card *ngFor="let product of getKeys(cart)" class="cartelements">

          
            <img :src="{{product.imagen}}" />
          
          <ion-item class="cuantitybar">
            <ion-button (click)="lessProductCart(product)">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
            
            <ion-label class="cuantity">
              {{ cart.get(product) }}
            </ion-label>
            
            
            <ion-button (click)="moreProductCart(product)">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-card-header class="info">
            {{ product.nombre }}
          </ion-card-header>
          <ion-card-header class="info">
            {{ product.precio * cart.get(product) }} Bs.
          </ion-card-header>
          <ion-button color="danger" class="buttons">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-card>
        <ion-card-header class="total">
          Total de compra: {{ total }} Bs.
        </ion-card-header>
        <ion-card-header>
          <ion-button *ngIf="this.cart.size > 0"  class="buttons">
            <ion-icon name="card-outline"></ion-icon>
            COMPRAR
          </ion-button>
        </ion-card-header>
    </ion-content>
  <ion-content [fullscreen]="true" *ngIf="this.cart.size == 0">
    No tienes nada en tu carrito, intenta añadiendo algun producto
  </ion-content>

</ion-app>