<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-card>
      <ion-card-title class="titles">
        CARRITO
      </ion-card-title>
      <ion-card-subtitle name="subtitleSuc" >{{sucursalCartText}}</ion-card-subtitle>
    </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" *ngIf="this.cart.size > 0" class="tab2pg">
    <ion-card *ngFor="let product of getKeys(cart)" class="cartelements">
      <ion-item>
        <ion-thumbnail>
          <img :src="{{product.imagen}}" />
        </ion-thumbnail>
        {{ product.nombre }}
        <ion-button
          (click)="lessProductCart(product)"
          [class.button-disabled]="cart.get(product) < 2"
        >
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
        <ion-label class="cuantity">
          {{ cart.get(product) }}
        </ion-label>
        <ion-button (click)="moreProductCart(product)">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-card-header class="info">
        Subtotal: {{ product.precio * cart.get(product) }} Bs.
      </ion-card-header>
      <ion-button
        size="small"
        color="danger"
        class="buttons"
        (click)="removeProductCart(product)"
      >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-card>
    <ion-card-header class="total">
      Total de compra: {{ cartService.getTotal() }} Bs.
    </ion-card-header>
    <ion-card-header>
      <ion-button
        *ngIf="this.cart.size > 0"
        class="buttons"
        (click)="goToProducts()"
      >
        <ion-icon name="card-outline"></ion-icon>
        COMPRAR
      </ion-button>
    </ion-card-header>
  </ion-content>
  <ion-content [fullscreen]="true" *ngIf="this.cart.size == 0" style="--color: black;">
    No tienes nada en tu carrito, intenta añadiendo algun producto
  </ion-content>
</ion-app>
