<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>NUESTRO PRODUCTOS</ion-title>
    </ion-toolbar>
  </ion-header>
  ,
  <ion-content fullscreen>
    <ion-card *ngFor="let data of products">
      <img :src="{{data.imagen}}" />
      <ion-card-header>
        <ion-card-subtitle>PRECIO: {{data.precio}} bs.</ion-card-subtitle>
        <h4 routerLink="/product/{{data.id}}">
          {{ data.nombre }}
        </h4>
      </ion-card-header>
      <ion-card-content>
        {{ data.descripcion }}
        <section class="full-width">
          <ion-button expand="block">AÑADIR AL CARRITO</ion-button>
        </section>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
