.google{
    --background: #DB4437;
    // display: block;
    color: white;
    width: 90%;

}
.faebook{
    --background: #3b5998;
}

ion-item{
    --background: white;
    --color: black;
}

ion-card-content{
    --background: white;
    --color: black;
}

ion-button{
    margin: 1rem;
    display: block;
    text-align: center;
    width: 90%;
}

.btn {
    --background: #FF8C00;
    color: white;
}


ion-card-title{
    background-color: white;
    color: black;
    // color: #FF8C00;
    text-align: center;
    margin: 1rem;

}
ion-card {
    margin-top: 5rem;
    vertical-align: middle;
}