<ion-content style="--background: antiquewhite;">

  <ion-card>
    <ion-header>
      <h1>
      <ion-card-title>Iniciar Sesión</ion-card-title>
      </h1>
    </ion-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" ></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-button  class="btn" (click)="login()">Login</ion-button>
    <ion-grid>
        <ion-button class="google" (click)="onLoginGoogle(email,password)">
          <ion-icon  name="logo-google" ></ion-icon>
        </ion-button>
    </ion-grid>
  </ion-card>

  <div style="padding: 5%;text-align: center;">
    <a (click)="forgot()">  ¿Has olvidado tu contraseña?</a>
    <br>
    <p style="color: black;"> ¿No tienes cuenta? <a (click)="register()">¡Registrate Ahora!</a> </p>
  </div>

</ion-content>
